.copyr8_bg{
    background-color: #191919;
}
.copyr8_text{
    padding: 25px 0;
}

.copyr8_text span{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}
.copyr8_text span a{
    font-weight: 600;
    letter-spacing: 0.07em;
    color: #FF4655;
    text-transform: uppercase;
}